<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site_footer" style="padding: 20px;">
  <div>
California Native American Heritage Commission • 1550 Harbor Blvd, Suite 100 • West Sacramento, CA 95691 • (916) 373-3710 • Fax: (916) 373-5471 • nahc@nahc.ca.gov<br>
   </div>
</footer>
