
.nahc-light { background-color: #A15801; }

.site_footer {
  background-color: black; 
  color: white;
  text-align: center;
}

.navbar-logo {
  flex: 0 0 450px;
  height: 100px;  
}

.btn.btn-primary {
  color: #fff;
  background-color: #524439;
  border-color:#524439;
}

div>a, h3>a {
  color: #402E32;
}
